<link rel="apple-touch-icon" async="true" href="{{ '/images/icon152.png' | relative_url }}"
    integrity="{{ '/images/icon152.png' | source_path | read | sri_hash }}" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"
    integrity="{{ '/favicon.ico' | source_path | read | sri_hash }}" />
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}?v={{ site.git_hash }}"
    integrity="{{ '/assets/main.css' | source_path | read | minify: 'css' | sri_hash }}" />
<link rel="manifest" href="{{ '/assets/manifest.json' | relative_url }}?v={{ site.git_hash }}"
    integrity="{{ '/assets/manifest.json' | source_path | read | minify: 'json' | sri_hash }}" />
<meta charset="utf-8" />
<meta http-equiv="Cache-Control" content="public, max-age=7776000" />
<meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; style-src 'self' 'unsave-inline'; script-src 'self'; connect-src 'self'; manifest-src 'self'; img-src 'self';">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="Description" content="Zeilen met de Catalina 25 voet Whing Keel. Het gevoel van open boot zeilen met de luxe van een kajuitjacht. Verrassend ruim. Hoe klein groots kan zijn. Een David onder de Goliaths." />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="#1976D2" />
<meta name="apple-mobile-web-app-title" content="Catalina 250 Wing Keel" />
<meta name="application-name" content="Catalina 250 Wing Keel">
<meta name="keywords" content="Catalina, C250WK, 250WK, c250, wk, wing keel, catalina 250 wing keel, vleugelkiel, yacht, boot, kopen">
<meta name="theme-color" content="#1976D2" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />